:root {
  --white: #ffffff;
  --white-soft: #f8f8f8;
  --white-mute: #f2f2f2;

  --black: #181818;
  --black-soft: #222222;
  --black-mute: #282828;

  --background-blue: #1f3251;

  --divider-light-2: #CBD0DC;

  --text-light-1: #666;
  --text-light-2: #02012e;
}

:root {
  --color-background: var(--white);
  --color-background-soft: var(--white-soft);
  --color-background-mute: var(--white-mute);
  --color-background-accordion: #F9FBFF;

  --color-border: var(--divider-light-2);
  --color-border-hover: var(--divider-light-1);

  --color-text-1: var(--text-light-1);
  --color-text-2: var(--text-light-2);
  --color-text-blue: var(--background-blue);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black);
    --color-background-soft: var(--black-soft);
    --color-background-mute: var(--black-mute);
    --color-background-accordion: #fff;
    
    --color-border: var(--divider-dark-2);
    --color-border-hover: var(--divider-dark-1);

    --color-text-1: var(--text-light-1);
    --color-text-2: var(--text-light-2);
    --color-text-blue: var(--background-blue);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-size: 16px;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
