:root {
  --white: #ffffff;
  --white-soft: #f8f8f8;
  --white-mute: #f2f2f2;

  --black: #181818;
  --black-soft: #222222;
  --black-mute: #282828;

  --background-blue: #1f3251;

  --divider-light-2: #cbd0dc;

  --text-light-1: #666;
  --text-light-2: #02012e;
}

:root {
  --color-background: var(--white);
  --color-background-soft: var(--white-soft);
  --color-background-mute: var(--white-mute);
  --color-background-accordion: #f9fbff;
  --color-background-tile: #fff;
  --color-linear-gradient: linear-gradient(
    180deg,
    rgba(14, 84, 106, 0.5) -30.56%,
    #01082e 100%
  );

  --color-border: var(--divider-light-2);
  --color-border-hover: var(--divider-light-1);

  --color-link: #375ef9;
  --color-text-1: var(--text-light-1);
  --color-text-2: var(--text-light-2);
  --color-text-3: #cbd0dc;
  --color-text-4: #292d32;
  --color-text-blue: var(--background-blue);
  --color-inactive: var(--text-light-1);
  --color-text-error: #dc2626;
  --color-border-error: #f87171;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: #212121;
    --color-background-soft: var(--black-soft);
    --color-background-mute: var(--black-mute);
    --color-background-accordion: #313131;
    --color-background-tile: #313131;
    --color-linear-gradient: linear-gradient(
      180deg,
      rgba(11, 12, 255, 0.5) -30.56%,
      #fafafa 100%
    );

    --color-border: #333333;
    --color-border-hover: var(--divider-dark-1);

    --color-link: #375ef9;
    --color-text-1: #fafafa;
    --color-text-2: #4d4afa;
    --color-text-3: #fafafa;
    --color-text-4: #fafafa;
    --color-text-blue: #4d4afa;
    --color-inactive: var(--text-light-1);
    --color-text-error: #ef4444;
  }
} */

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
